<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ page.title }} &ndash; {{ site.title }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ kirby.url }}/static/master.css">
</head>
<body class="body py1 sd-px1 lh4">

  <header>
    <h1 class="p1"><a class="block fw700" href="{{ kirby.url }}">{{ site.title }}</a></h1>
    <aside class="p1">
      <p>Nulla nisl libero, tempor eu urna a, facilisis ornare nibh. Phasellus sed ante venenatis, convallis lectus in, tristique metus. Nulla ac tincidunt nibh, sed mattis felis.</p>
    </aside>
    <nav class="">
      <ul class="p1">
        {% for _page in site.pages.listed %}
        <li><a class="inline-block ul:hover{% if _page.id == page.id %} bg-yellow{% endif %}" href="{{ _page.url }}">{{ _page.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main class="main">

    {% block main none %}

  </main>

  <footer class="p1 col justify-end">
    <p>&copy; {{ 'now' | date('Y') }} All rights reserved.</p>
  </footer>

</body>
</html>
