{% extends layout() %}

{% block title %}
{% if site.tagline.notEmpty %}{{ site.title }} &ndash; {{ site.tagline }}{% else %}{{ parent() }}{% endif %}
{% endblock %}

{% block meta_description parent() ?: site.description | excerpt(160) %}

{% block main %}

    <div class="sd:grid2 ld:grid3">
      {%~ for _page in site.pages %}
      {%~ if _page.template == 'project' %}
      {%~ with {
        _image: _page.images.filterBy('template', 'project').sortBy('sort').first,
      } %}
      <article class="p1"><a class="block anchor" href="{{ _page.url }}">
        <figure>
          {%~ if _image %}
          <img
            class="block w100 ha"
            width="272"
            height="272"
            {%~ if _image.extension in ['gif', 'svg'] %}
            src="{{ _image.url }}"
            {%~ else %}
            src="{{ _image.crop(272, 272).url }}"
            srcset="{{ _image.crop(272, 272).url }} 272w,{{ _image.crop(544, 544).url }} 544w"
            {%~ endif %}
            alt="{{ _page.title }} Cover"
          >
          {%~ else %}
          <svg class="block bg-black-05" viewBox="0 0 1 1"></svg>
          {%~ endif %}
        </figure>
        <h3 class="mt025 h5 lh2 fw700 ul:hover">{{ _page.title }}</h3>
      </a></article>
      {%~ endwith %}
      {%~ endif %}
      {%~ endfor %}
    </div>

{% endblock %}
