{% extends layout() %}

{% block main %}

  <div class="ld-row">
    <div class="span1 order9">

      <div class="p1 copy lh4">
        <h1>{{ page.title }}</h1>
        {% if page.text.notEmpty %}
        {{ page.text | kt }}
        {% endif %}
      </div>

    </div>
    {% with { images: page.images.filterBy('template', 'project').sortBy('sort') } %}
    {% if images.count %}
    <div class="span2">
      {% for _image in images %}
      <figure class="p1">
        <img
          class="block"
          style="max-width: 100%;"
          {% if _image.extension in ['gif', 'svg'] %}
          src="{{ _image.url }}"
          {% else %}
          src="{{ _image.resize(640).url }}"
          srcset="{{ _image.srcset([480, 640, 960, 1280]) }}"
          {% endif %}
          alt="{{ _image.alt }}"
        >
        {% if _image.caption.notEmpty %}
        <figcaption class="copy italic"><p>{{ _image.caption | kti }}</p></figcaption>
        {% endif %}
      </figure>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

{% endblock %}
