{% extends layout() %}

{% block main %}

  <div class="ld-row">
    <div class="span1 order9">

      <div class="p025">
        <div class="p075">
          <h1 class="h2 ld-h3 lh2 fw800">{{ page.title }}</h1>
        </div>
        {% if page.text.notEmpty %}
        <div class="p075 copy lh4">
          {{ page.text | kt({ width: 640, srcset: [ 320, 640, 960, 1280 ] }) }}
        </div>
        {% endif %}
      </div>

      {% if page.client.notEmpty
        or page.role.notEmpty
        or page.date.notEmpty
        or page.website.notEmpty %}
      <div class="p1 copy lh4">
        <dl>
          {% if page.client.notEmpty %}
          <dt>Client</dt>
          <dd>{{ page.client }}</dd>
          {% endif %}
          {% if page.role.notEmpty %}
          <dt>Role</dt>
          <dd>{{ page.role }}</dd>
          {% endif %}
          {% if page.date.notEmpty %}
          <dt>Date</dt>
          <dd>{{ page.date }}</dd>
          {% endif %}
          {% if page.website.notEmpty %}
          <dt>Website</dt>
          <dd><a class="ul" href="{{ page.website }}">{{ page.website }}</a></dd>
          {% endif %}
        </dl>
      </div>
      {% endif %}

    </div>
    {% with { images: page.images.filterBy('template', 'project').sortBy('sort') } %}
    {% if images.count %}
    <div class="span2">
      {% for _image in images %}
      <figure class="p1">
        <img
          class="block"
          style="max-width: 100%;"
          {% if _image.extension in ['gif', 'svg'] %}
          src="{{ _image.url }}"
          {% else %}
          src="{{ _image.resize(640).url }}"
          srcset="{{ _image.srcset([480, 640, 960, 1280]) }}"
          {% endif %}
          alt="{{ _image.alt }}"
        >
        {% if _image.caption.notEmpty %}
        <figcaption class="copy italic mt025"><p>{{ _image.caption | kti }}</p></figcaption>
        {% endif %}
      </figure>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

{% endblock %}
